<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mjw.lab.dao.mapper.TeacherMapper">


    <select id="getAllTeacher" resultType="com.mjw.lab.dao.pojo.Teacher">
        select * from teacher where exist = true
    </select>

    <select id="getAllTeacherByName" resultType="com.mjw.lab.dao.pojo.Teacher">
        select * from teacher where teacher.name like '%${name}%' and exist =true
    </select>
</mapper>